body{
    font-family: 'Times New Roman', Times, serif;
}
.container{
    max-width: 400px;
    max-height: 700px;
    background-color: pink;
    display: block;
    margin: 90px auto;
    padding:40px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

h1{
    text-align: center;
    margin-bottom: 40px;
    
    
}
form{
display: flex;
}

#input{
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    border: none;
    margin-bottom: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 250px;
}
#submitButton{
    display: block;
    margin: auto;
    padding: 13px;
    border-radius: 25px;
    font-size: 16px;
    border: none;
    background: rgb(236, 64, 92);
    margin-bottom: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 90px;
     
}

#poem{
    padding:50px 80px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 16px;
    background-image: url("https://media1.tenor.com/m/zUwdOaQu1GIAAAAC/pink-hearts.gif");
    background-position: center;
    background-repeat: no-repeat;
}

#coder{
    text-align: center;
    font-size: 16px;
    font-weight: bold;

}
a{
    text-decoration: none;
    color: rgb(197, 26, 54);
    font-weight: bold;

}